@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #000000;
  color: #ffffff;
}

.hero {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.ellipse {
  width: 2086px;
  height: 955px;
  display: block;
  background: linear-gradient(180deg, #ffffff 0%, rgba(10, 10, 10, 0) 100%);
  gap: 10px;
  position: absolute;
  border-radius: 100%;
  top: 64%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
}

.base {
  width: 2242px;
  height: 956px;
  display: block;
  box-shadow: inset 0px 2px 20px 0px #ffffff,
    0px -10px 50px 1px rgba(255, 255, 255, 0.49);
  background-color: #0a0a0a;
  aspect-ratio: 2.346820809248555 / 1;
  position: absolute;
  border-radius: 50%;
  top: 65%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
